<h2>All Soundcloud Tracks:</h2>
<ul>
<% @sounds.each do |sound| %>
<li><%= link_to sound.title, "/sounds/#{sound.id}" %></li>
<% end %>
</ul>
<%= link_to 'Create a New Soundcloud link', action: 'new' %>
